body{
  background-color: slategrey;
}

h1{
  font-size:20;
  font-style:italic;
}

#header{
  background-color: mistyrose;
  width:1200px;
  padding:30px;
  margin:20px;
  border: 8px solid dimgrey;
  border-radius:30px;
}

#body1{
  width:900px;
  height:900px;
  margin:auto;
  background-color: dimgrey;
  border:8px solid navy;
  border-radius:30px;
}

